[frameworkd]
version = 1
# Log level: DEBUG, INFO (default), WARNING, ERROR
# Override via environment as FSO_LOG_LEVEL
log_level = DEBUG
# Where to log to: none (default), stderr, file, syslog
# Override via environment as FSO_LOG_TO
log_to = stderr
# Log Destination (valid only for log_to = file)
# Override via environment as FSO_LOG_DESTINATION
log_destination = /tmp/frameworkd.log

#
# FSO2
#
[cornucopia]
# Use this for development
#sysfs_root = /mnt/neo/sys

[fsodevice]

[fsodevice.kernel26_leds]

[fsogsm]

[fsogsm.modem_ti_calypso]

[fsogsm.gsm_device]

