[Unit]
Description=FSO daemon implementing the device API
#After=local-fs.target
#Before=systemd-modules-load.service shutdown.service

[Service]
Type=dbus
BusName=org.freesmartphone.odeviced
ExecStart=/usr/sbin/fsodeviced

[Install]
# we have to start very early to be able to respond to
# firmware requests
WantedBy=basic.target
